# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/

# VS Code config
.vscode/

# Environment
.env
.env.*

# Render build artifacts
*.log
*.cache/

# OS
.DS_Store
